[init]
  defaultBranch = main
[merge]
  tool = vimdiff
  conflictstyle = diff3
  prompt = false
  ff = false
[pull]
  ff = only
[push]
  default = current
  autoSetupRemote = true
[alias]
  tree = log --graph --pretty=format:'%x09%C(auto) %h %Cgreen %ar %Creset%x09"%C(cyan ul)%an%Creset" %x09%C(auto)%s %d'
  s = switch
  b = branch
  ss = status -s
  coam = commit --amend -C HEAD --date=now
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[sequence]
  editor = interactive-rebase-tool
[core]
  autocrlf = input
  quotepath = false
  # 以下のファイルで指定してしまうと分かりづらいので、原則としては .git/info/exclude に記述する
  excludesfile = ~/dotfiles/.gitignore.myown.gitignore
  pager = "diff-so-fancy | less --tabs=4 -RFX"
[fetch]
  prune = true
[pager]
  branch = cat
  config = cat
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge --skip -- %f
  process = git-lfs filter-process --skip
  required = true
[interactive]
  diffFilter = delta --color-only
[color]
  ui = true
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  frag = magenta bold
  meta = 11
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
