[diff]
  tool = vimdiff
[difftool]
  prompt = false
[merge]
  tool = vimdiff
  conflictstyle = diff3
  prompt = false
  ff = false
[pull]
  ff = only
[push]
  default = current
[core]
  autocrlf = input
  quotepath = false
  # editor = ~/.go/bin/micro
  excludesfile = ~/dotfiles/.gitignore.my
  pager = delta --plus-color="#012800" --minus-color="#340001" --theme='Monokai Extended'
[fetch]
  prune = true
[pager]
  branch = cat
  config = cat
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[ghq]
  root = ~/.ghq
[alias]
  tree = log --graph --pretty=format:'%x09%C(auto) %h %Cgreen %ar %Creset%x09"%C(cyan ul)%an%Creset" %x09%C(auto)%s %d'
  c = commit -v
  co = checkout
  s = switch
  sc = switch -c
  pl = pull
  # pu = push
  b = branch
# [credential]
# macOS
# helper = osxkeychain
# Ubuntu
# helper = store
[interactive]
  diffFilter = delta --color-only
