[diff]
  tool = vimdiff
[difftool]
  prompt = false
[merge]
  tool = vimdiff
  conflictstyle = diff3
  prompt = false
  ff = false
[pull]
  ff = only
[push]
  default = current
[core]
  autocrlf = input
  quotepath = false
  # editor = /Users/osamutakiya/.go/bin/micro
  excludesfile = ~/dotfiles/.gitignore.my
[fetch]
  prune = true
[pager]
  branch = cat
  config = cat
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[alias]
  tree = log --graph --pretty=format:'%x09%C(auto) %h %Cgreen %ar %Creset%x09"%C(cyan ul)%an%Creset" %x09%C(auto)%s %d'

